<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HCS - Home Cloud Server</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top" style="background: #023869;">
    <div class="container-fluid">
        <div class="navbar-header" style="padding: 15px; text-align: left;">
            <a href="/" style="color: #4790d3;">Home Cloud Server</a></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/" class="nav-item nav-link">Upload</a></li>
                <li>
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false" class="dropdown-toggle">Media <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/media" class="nav-item nav-link">Media Tray 1</a></li>
                        <li><a href="/media2" class="nav-item nav-link">Media Tray 2</a></li>
                        <li><a href="/media3" class="nav-item nav-link">Media Tray 3</a></li>
                        <li><a href="/media4" class="nav-item nav-link">Media Tray 4</a></li>
                    </ul>
                </li>
                <li><a href="/api" class="nav-item nav-link">API</a></li>
                <li><a href="/logs" class="nav-item nav-link">Logs</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    <h2>Upload Files</h2>
                    <p>Please follow the instructions. If you don't add a tag prior to upload, then the items you
                        uploaded will be available via the red "No Tag" tag.</p>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <p class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        INSTRUCTIONS
                                    </a>
                                </p>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ol>
                                        <li>Enter a Tag.</li>
                                        <li>Upload something.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4><a href="/media"><u>Search All Media</u></a></h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"></div>
                    </div>

                    <div id="upload_controls">
                        <input type="text" placeholder="Enter Tag For Upload"/>
                        <br><br>
                        <button id="upload_btn" class="btn btn-lg btn-success" type="button">Upload File</button>
                        <input id="upload-input" type="file" name="uploads[]" multiple="multiple">
                    </div>

                    <div id="success_messaging"></div>

                </div>
            </div>
            <sup>Files are uploaded to Tray 1</sup>
        </div>
    </div>
</div>

<nav class="footer navbar-fixed-bottom">
    Version 1.0.0-<span id="version"></span>
</nav>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/upload.js"></script>
<script src="js/main.js"></script>
</body>
</html>
