<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HCS - Home Cloud Server</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top" style="background: #023869;">
    <div class="container-fluid">
        <div class="navbar-header" style="padding: 15px; text-align: left;">
            <a href="/" style="color: #4790d3;">Geatz Home Cloud Server</a></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="nav-item nav-link">Home</a></li>
                <li><a href="/media" class="nav-item nav-link">Media</a></li>
                <li><a href="/mediaFiles" class="nav-item nav-link">Raw Files</a></li>
                <li><a href="/api" class="nav-item nav-link">API</a></li>
                <li><a href="/logs" class="nav-item nav-link">Logs</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                    <h2>File Uploader</h2>
                    <h4><a href="/media">Search All Media</a></h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"></div>
                    </div>
                    <button class="btn btn-lg upload-btn" type="button">Upload File</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
<nav class="footer navbar-fixed-bottom">
    git version goes here #####
</nav>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/upload.js"></script>
</body>
</html>
