<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tray 1 - Home Cloud Server</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top" style="background: #023869;">
    <div class="container-fluid">
        <div class="navbar-header" style="padding: 15px; text-align: left;">
            <a href="/" style="color: #4790d3;">Home Cloud Server</a></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="nav-item nav-link">Upload</a></li>
                <li>
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false" class="active dropdown-toggle">Media <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/media" class="nav-item nav-link">Media Tray 1</a></li>
                        <li><a href="/media2" class="nav-item nav-link">Media Tray 2</a></li>
                        <li><a href="/media3" class="nav-item nav-link">Media Tray 3</a></li>
                        <li><a href="/media4" class="nav-item nav-link">Media Tray 4</a></li>
                    </ul>
                </li>
                <li><a href="/api" class="nav-item nav-link">API</a></li>
                <li><a href="/logs" class="nav-item nav-link">Logs</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Media</h2>
                    <p>Filter media type with the buttons below</p>
                    <button class="btn btn-primary" id="photos">Photos</button>
                    <button class="btn btn-primary" id="videos">Videos</button>
                    <button class="btn btn-primary" id="docs">Documents</button>
                </div>
            </div>
            <div id="media"></div>
        </div>
    </div>
</div>

<nav class="footer navbar-fixed-bottom">
    <span id="version"></span>
</nav>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/upload.js"></script>
<script src="javascripts/media.js"></script>
</body>
</html>
