.btn:focus, .upload-btn:focus {
    outline: 0 !important;
}

html,
body {
    height: 100%;
    background-color: #d4d4d4;
}

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

img {
    image-orientation: from-image;
}

.row {
    margin-top: 80px;
}

.upload-btn {
    color: #ffffff;
    background-color: #F89406;
    border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
    color: #ffffff;
    background-color: #FA8900;
    border: none;
}

h4 {
    padding-bottom: 30px;
    color: #B8BDC1;
}

.glyphicon {
    font-size: 5em;
    color: #9CA3A9;
}

h2 {
    margin-top: 15px;
    color: #68757E;
}

.panel {
    padding-top: 20px;
    padding-bottom: 20px;
}

#upload-input {
    display: inline;
    width: 132px;
    height: 48px;
    margin: auto;
    position: relative;
}

@media (min-width: 768px) {
    .main-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 450px;
    }
}

.footer {
    background: #316392;
    height: 20px !important;
    color: #9ca3a9;
}

.btn {
    margin: 5px;
}

input {
    width: 250px;
    line-height: 2;
    padding: 1px 10px;
    border: 1.5px solid #eee;
    border-radius: 3px;
}

.upload_btn {
    position: absolute;
    margin: auto;
    z-index: 1;
    pointer-events: none;
}